NEXT_PUBLIC_API_URL=http://localhost:5000/api/v1
NEXT_PUBLIC_APP_URL=http://localhost:3000
CLOUDINARY_CLOUD_NAME=xcvhcvhcv
CLOUDINARY_API_KEY=your-api-key
CLOUDINARY_UPLOAD_PRESET=your-unsigned-upload-preset
